{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    {% include "demouiapp/_navbar.html" %}
                    <td style="width:90%; padding-left:50px;">
                        <p style="font-size:2.5em;">IBM CloudPak for Watson AIOps</p>
 
                        <p></p>
                        <p style="font-size:50px;">🚀 CP4WAIOPS Applications<p> </p>
                            <p></p>
                        <hr>
                            <table   cellspacing="0" cellpadding="0" style="width: 1200px; table-layout: fixed">
                                <tbody>


                                    <tr>

                                    </tr>
                                    <tr>
                                        <td width="10%">
                                            &nbsp;
                                        </td>
                                        <td  width="100px">
                                            &nbsp;
                                        </td>
                                        <td  width="10px">
                                            &nbsp;
                                        </td>
                                        <td  width="10px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                  

                                    <tr>
                                        <td colspan="3">
                                            <h4>🛠️  System Components</h4>
                                            <hr>
                                        </td>
                                    </tr>

                                    {% if ADMIN_MODE == 'true' %}
                                    <tr>
                                        <td><a href="https://{{ vault_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Vault</a></td>
                                        <td>🔐&nbsp;&nbsp;TOKEN: {{vault_token}}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    {% endif %}

                              
                                    <tr>
                                        <td><a href="https://{{ flink_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Flink Connectors</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>

                                    {% if flink_url_policy != '' %}
                                    <tr>
                                        <td><a href="https://{{ flink_url_policy }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Flink Policy Framework</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    {% endif %}

                                    {% if spark_url != '' %}
                                    <tr>
                                        <td><a href="http://{{ spark_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Spark</a></td>
                                    </tr>
                                    {% endif %}

                                    {% if ADMIN_MODE == 'true' %}
                                    <tr>
                                        <td><a href="https://{{ openshift_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">OpenShift</a></td>
                                        <td colspan=2 style="max-width:650px;word-break: break-all">oc login  --server={{openshift_server}} --token={{openshift_token}}</td>

                                    </tr>
                                    {% endif %}

                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>


                    
                                </tbody>
                            </table>


    
                        </p>
                        <p></p>
                        <p></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}