

# *************************************************************************************************************************************************
# --------------------------------------------------------------------------------------------------------------------------------------
# Open Doc
# --------------------------------------------------------------------------------------------------------------------------------------
# *************************************************************************************************************************************************
- name: 游닌 WRITE TO LOGFILE
  shell: |
    export MESSAGE=" 游깶 Open EventManager"
    export currentDate=$(date +%Y-%m-%d_%H:%M)
    echo "---------------------------------------------------------------------------------------------------------------------------------------------------" >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo $currentDate" - "$USER" - "$MESSAGE  >> ../install_{{current_cp4waiops_feature.kind}}.log
  ignore_errors: yes




- name: EVENT MANAGER -             游깶 Get EVENT MANAGER LOGINS
  shell: |
    export ROUTE=$(oc get route -n {{ current_cp4waiops_cluster.project }}  evtmanager-ibm-hdm-common-ui -o jsonpath={.spec.host})
    echo ""
    echo "            游깶 URL:           https://$ROUTE"
    echo "            游븸 User:          smadmin"
    echo "            游댏 Password:      $(oc get secret -n {{ current_cp4waiops_cluster.project }}  evtmanager-was-secret -o jsonpath='{.data.WAS_PASSWORD}'| base64 --decode && echo)"
    echo ""
    echo ""
    export URL=https://$ROUTE
    if [ -x "$(command -v open)" ]; then
      open $URL
    else 
      if [ -x "$(command -v firefox)" ]; then
        firefox $URL
      else 
        if [ -x "$(command -v google-chrome)" ]; then
          google-chrome $URL
        fi
      fi
    fi
  ignore_errors: yes
  register: LOGINS


- name: EVENT MANAGER -             游릭 EVENT MANAGER LOGINS
  debug: 
    var: LOGINS.stdout_lines


- name: 游닌 WRITE TO LOGFILE
  shell: |
    export MESSAGE=" 游돉 Wait for Event Manager to become ready"
    export currentDate=$(date +%Y-%m-%d_%H:%M)
    echo "---------------------------------------------------------------------------------------------------------------------------------------------------" >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "---------------------------------------------------------------------------------------------------------------------------------------------------" >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "      游닌 Event Manager"  >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo ""  >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "            游깶 URL:           https://$(oc get route -n {{ current_cp4waiops_cluster.project }}  evtmanager-ibm-hdm-common-ui -o jsonpath={.spec.host})"  >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "            游븸 User:          smadmin"  >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "            游댏 Password:      $(oc get secret -n {{ current_cp4waiops_cluster.project }}  evtmanager-was-secret -o jsonpath='{.data.WAS_PASSWORD}'| base64 --decode && echo)"  >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "---------------------------------------------------------------------------------------------------------------------------------------------------" >> ../install_{{current_cp4waiops_feature.kind}}.log
    echo "---------------------------------------------------------------------------------------------------------------------------------------------------" >> ../install_{{current_cp4waiops_feature.kind}}.log

  ignore_errors: yes
